<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="jacksonveroneze\Autocomplete">
            <directory>./test/Response</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>